<div class="row">
  <div [ngStyle]="changeStyle" class="col-12 divHeader">
    <app-nav></app-nav>
  </div>
  <div class="row mt-1 mb-3">
    <div class="col-12 text-center">
      <button type="button" class="circle bg-warning" (click)="clicks('1')"></button>
      <button type="button" class="circle bg-secondary" (click)="clicks('2')"></button>
      <button type="button" class="circle bg-info" (click)="clicks('3')"></button>
      <button type="button" class="circle bg-danger" (click)="clicks('4')"></button>
    </div>
  </div>
</div>


