<div class="container-fluid body_side-bar">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center mt-3"><strong>News!</strong></h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="mt-2"><strong>‘Criminal Minds: Evolution’ Boss on Reid and Simmons Updates, Plus Who’s Returning for Season 17</strong></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img class="img_side_bar mt-2 mb-3" src="assets/img/slide/criminal_evolution.jpg"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>Criminal Minds: Evolution might have ended its 16th season with the FBI suffering a loss — Deputy Director Bailey (Nicholas D’Agosto),
            we were just starting to like you! — but every member of the Behavioral Analysis Unit (BAU) —
            David Rossi (Joe Mantegna), Emily Prentiss (Paget Brewster), Jennifer “J.J.” Jareau (A.J. Cook),
            Penelope Garcia (Kirsten Vangsness), Dr. Tara Lewis (Aisha Tyler), and Luke Alvez (Adam Rodriguez) — survived.
            And the good news is they’ll all be back for Season 17 (picked up in January).<br>

            “The main cast members are all coming back,” showrunner Erica Messer confirms to TV Insider.
            “And then deals are still being made for some of the other faces you saw this year.”<br>

            But what about the two profilers with the BAU at the end of the original run (2005-2020 on CBS) we didn’t see but only heard tidbits about in Season 16,
            Dr. Spencer Reid (Matthew Gray Gubler) and Matt Simmons (Daniel Henney)?</p>
        </div>
      </div>
    </div>
</div>
