<div class="row">
  <footer class="bg-dark text-center mt-5">
    <!-- Grid container -->
    <div class="container p-4 pb-0 footerDiv">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-danger btn-floating m-1 pb-0" href="https://www.facebook.com/CriminalMinds/?locale=es_LA" role="button">
          <i class="fab fa-facebook-f"></i></a>
        <!-- Twitter -->
        <a class="btn btn-outline-danger btn-floating m-1 pb-0" href="https://twitter.com/criminalmindesp?lang=es" role="button">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- Instagram -->
        <a class="btn btn-outline-danger btn-floating m-1 pb-0" href="https://www.instagram.com/criminalminds/?hl=es" role="button">
          <i class="fab fa-instagram"></i>
        </a>
      </section>
    </div>
    <!-- Copyright -->
    <div class="text-center text-light p-1 copy">
      <p class="h5">{{title}}</p>
      <p>&copy; {{copy}}</p>
    </div>
  </footer>
</div>
